<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fablabsaigon.playitcool"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.fablabsaigon.playitcool.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.fablabsaigon.playitcool.SelectCheckpointActivity"
            android:label="@string/title_activity_connecting_to"
            android:parentActivityName="org.fablabsaigon.playitcool.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fablabsaigon.playitcool.MainActivity" />
        </activity>
        <activity
            android:name="org.fablabsaigon.playitcool.ReadCheckpointActivity"
            android:label="@string/title_activity_read_checkpoint"
            android:parentActivityName="org.fablabsaigon.playitcool.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fablabsaigon.playitcool.MainActivity" />
        </activity>
        <!--
        <meta-data android:name="com.google.android.gms.version"
  			 android:value="@integer/google_play_services_version"/>
        -->
        <activity
            android:name="org.fablabsaigon.playitcool.SendDataActivity"
            android:label="@string/title_activity_send_data"
            android:parentActivityName="org.fablabsaigon.playitcool.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fablabsaigon.playitcool.MainActivity" />
        </activity>
    </application>

</manifest>
